.history-container {
  padding-inline: 20%;
  background-color: #303030;
  color: white;
  padding-block: 1rem;

  span::first-letter {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .history-container {
    padding-inline: 5%;
  }
}
